body {
    display: absolute;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    background-color: white;
}

h4 {
  display: relative;
  text-align: center;
  top: 50%;
  left: 50%;
}

.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: transparent;
  width: 500px;
  max-width: 80%;
}

.model.active {
  transform: translate(-50%,-50%) scale(1);
}

.model-body {
    display: inline-block;
    height: 170px;
    width: 200px;
    margin: auto;
    text-align: center;
    text-decoration: solid;
    background-color: #67ff80;
}

.model-body .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

#overlay {
  position: absolute;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,-5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.title {
    display: inline-block;
    height: 170px;
    width: 200px;
    margin: auto;
    text-align: center;
    background-color: #f6def6;
}

.lession {
    display: block;
    height: 70px;
    width: auto;
    margin: auto;
    text-align: center;
    background-color: #fe91ca;
}

.type {
    display: block;
    height: 70px;
    width: auto;
    margin: auto;
    text-align: center;
    background-color: #fe91ca;
}

.status {
    display: block;
    height: 60px;
    width: auto;
    background-color:#df5e88;
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    background: linear-gradient(var(--bg-angle), var(--bg-start), var(--bg-end));
    box-shadow: var(--h1) var(--v1) var(--color-dark), 
              var(--h2) var(--v2) var(--color-light);
    transition: 0.3s;
    border-radius: 25px;
    border: 2px;
    display: absolute;
    float: left;
    height: 300px;
    width: 200px;
    text-align: center;
    margin: 10px;

  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 0, 221, 0.2);
  }
  
  .child-card {
    background: linear-gradient(var(--bg-angle), var(--bg-start), var(--bg-end));
    box-shadow: var(--h1) var(--v1) var(--color-dark), 
              var(--h2) var(--v2) var(--color-light);
    transition: 0.3s;
    border-radius: 25px;
    border: 2px;
    display: absolute;
    float: left;
    height: 300px;
    width: 200px;
    text-align: center;
    margin: 10px;
  }

  .child-card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 0, 221, 0.2);
  }
  #container {
    padding: 2px 16px;
    margin-left:55px;
  }
