/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
    display: absolute;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}


a {
  text-decoration: none !important;
  color: white;
}

h2 {
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  height: 50px;
  width: auto;
  justify-content: center;
  text-align: center;
  font-size: 2.4rem;
}

h3 {
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

.modal {
    display: block;
    height: 700px;
    width: auto;
}


.title {
    display: inline-block;
    height: 170px;
    width: 200px;
    margin: auto;
    font-size: xx-large;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    color: white;
}


.type {
    display: block;
    height: 70px;
    width: auto;
    margin: auto;
    text-transform: capitalize;
    text-align: center;
    font-size: medium;
    color: #363636;
    justify-content: space-around;
    align-items: center;
    
}

.status {
    display: block;
    height: 60px;
    width: auto;
    text-transform: capitalize;
    font-size: 1.4rem;
    color: #363636;
    justify-content: space-around;
    align-items: center;
}

.card {
    background: linear-gradient(var(--bg-angle), var(--bg-start), var(--bg-end));
    box-shadow: var(--h1) var(--v1) var(--color-dark), 
              var(--h2) var(--v2) var(--color-light);
    transition: 0.3s;
    border-radius: 25px;
    border: 1px;
    padding: 10px;
    display: absolute;
    float: left;
    height: 300px;
    width: 200px;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);

  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 0, 221, 0.2);
  }
  
  .child-card {
    background: linear-gradient(var(--bg-angle), var(--bg-start), var(--bg-end));
    box-shadow: var(--h1) var(--v1) var(--color-dark), 
              var(--h2) var(--v2) var(--color-light);
    transition: 0.3s;
    border-radius: 25px;
    border: 1px;
    padding: 10px;
    display: absolute;
    float: left;
    height: 300px;
    width: 200px;
    margin: 10px;
    align-items: center;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    justify-content: space-around;
    align-items: center;
  }

  .child-card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 198, 73, 0.2);
  }
  #container {
    padding: 2px 16px;
    margin-left:55px;
  }

  nav {
    width: auto;
    height: 50px;
  }

@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}